@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

$defaultRed: darkRed;
$defaultBlue: lightseagreen;
$defaultGray: darkgray;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.red {
  background-color: $defaultRed;
}

.orange {
  background-color: orangered;
}

.blue {
  background-color: $defaultBlue;
}

.text-center {
  text-align: center;
}

.price {
  color: $defaultRed;
}
.special-price {
  color: $defaultGray;
  text-decoration: line-through;
}

.clear {
  clear: both;
}

.extrabold {
  font-weight: 800;
}

.container {
  margin: 0 auto;
  max-width: 1004px;
  padding: 0 10px;
}

.d-flex {
  display: flex;
}
.flex-row-wrap {
  flex-flow: row wrap;
}
.justify-between {
  justify-content: space-between;
}

header {
  height: 67px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

header .menu {
  display: none;
}

header .logo {
  background-image: url('images/webjump-logo.png');
  background-size: cover;
  background-position: center;
  height: 67px;
  width: 166px;
}

header .logo img {
  height: 67px;
  margin-left: -19px;
  object-fit: cover;
  width: 201px;
}

header form {
  margin: 17.5px 35px 0;
}

header form input {
  padding: 5px;
  border: 1px solid gray;
  border-right: 0;
}

button.search {
  background-color: $defaultRed;
  border: 0;
  color: white;
  text-transform: uppercase;
  padding: 6px 15px;
}

button.mobile {
  display: none;
}

nav {
  color: white;
  background-color: $defaultRed;
}

nav ul {
  list-style: none;
  padding: 12px 0;
}

nav ul li {
  text-transform: uppercase;
  margin-right: 40px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.breadcrumb {
  padding: 15px 10px;
  width: 100%;
}

.breadcrumb span {
  color: $defaultRed;
}

.sidebar {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-right: 15px;
  max-height: 450px;
  max-width: 220px;
  min-width: 220px;
  padding: 15px;
}

.sidebar h2 {
  text-transform: uppercase;
  color: $defaultRed;
}

.sidebar h3 {
  color: $defaultBlue;
  text-transform: uppercase;
  margin: 20px 0;
}

.sidebar ul {
  color: $defaultGray;
  list-style-position: inside;
}
.sidebar ul li {
  font-weight: lighter;
}
.sidebar ul li a {
  color: $defaultGray;
  text-decoration: none;
}

.sidebar .color-block {
  display: inline-block;
  height: 20px;
  margin-right: 2px;
  width: 40px;
}

main {
  display: flex;
  margin-bottom: 20px;
  min-height: calc(100vh - 305px);
}

.main-content {
  width: 100%;
}

.main-header h2 {
  color: $defaultRed;
  font-weight: lighter;
}

.main-subheader {
  display: flex;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px;
}

.order-icons span {
  color: lightgray;
  margin-right: 10px;
}

.order-icons span:first-child {
  color: $defaultBlue;
  margin-right: 10px;
}

.order-by {
  font-size: smaller;
  font-weight: bolder;
  text-transform: uppercase;
}

.order-by label {
  color: darkgray;
  font-weight: bolder;
  margin-right: 10px;
  text-transform: uppercase;
}

.order-by select {
  background-color: whitesmoke;
  border: 1px solid lightgray;
  border-radius: 3px;
  width: 160px;
}

.products {
  display: flex;
  // justify-content: space-between;
  // align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

  // &:after {
  //   content: "";
  //   flex: auto;
  // }
}

.card {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 15px 8px;
  width: 170px;
}

.card figure {
  border: 1px solid lightgray;
  height: 170px;
  width: 170px;
}

.card img {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  height: 100%;
}

.card p.title {
  height: 50px;
  margin: 10px 0 0;
}

.card button {
  color: white;
  background-color: $defaultBlue;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px 0;
  text-transform: uppercase;
  width: 100%;
}

footer {
  height: 120px;
  background-color: $defaultRed;
  bottom: 0;
  position: relative;
}

/* 320px, 768px, 1024px e 1440px */
@media (max-width: 320px) {
  .container {
    min-width: 300px;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header .menu {
    display: block;
    font-size: 2rem;
  }
  header .menu input {
    display: none;
  }
  header form {
    display: none;
  }
  header button.mobile {
    background-color: transparent;
    border: none;
    color: $defaultRed;
    display: block;
    font-size: 2rem;
  }
  nav {
    display: none;
  }
  main {
    display: flex;
    flex-wrap: wrap;
  }
  .sidebar {
    margin-bottom: 20px;
    margin: 0;
    max-height: 450px;
    min-width: 300px;
    padding: 15px;
  }
  .card {
    width: 133px;
  }
  .card figure{
    height: 133px;
    width: 133px;
  }
  .order-icons {
    display: none;
  }
}
@media (min-width: 320px) {
  .container {
    max-width: 748px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 748px;
  }
  .card {
    width: 148px;
  }
  .card figure{
    height: 148px;
    width: 148px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1004px;
  }
  .card {
    width: 170px;
  }
  
  .card figure {
    height: 170px;
    width: 170px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1004px;
  }
  .card {
    width: 170px;
  }
  
  .card figure {
    height: 170px;
    width: 170px;
  }
}
